<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/03faaf7999.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#toDoList}}
    <h2>What Needs Done?</h2>
    <form action="/" method="post">
      <input type="text" name="" value="">
      <button type="submit" name="button">Add to List</button>
    </form>
    {{#incompleteItems}}
    <form class="incomplete-items" action="/completedItems/{{item}}" method="post">
      <ul>
        <li><button type="submit"><i class="fa fa-check" aria-hidden="true"></i></button> <label>{{item}}</label></li>
      </ul>
    </form>
    {{/incompleteItems}}

    <h2>Completed Items</h2>
    {{#completedItems}}
    <ul class="completed-items">
      <li>{{item}}</li>
    </ul>
    {{/completedItems}}
    {{/toDoList}}
  </body>
</html>
