<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#todos}}
    <form class="" action="index.html" method="post">
      <input type="checkbox" name="" value="">{{.}}
    </form>
    {{/todos}}
  </body>
</html>
