<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/03faaf7999.js"></script>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="to-do-box">
        {{#toDoList}}
          <h1>What Needs Done?</h1>
          <form action="/add" method="post" class="add-item">
            <input type="text" name="listItem" value="">
            <button type="submit" name="button" class="submit-btn">Add to List</button>
          </form>

          <h2>To-Do:</h2>
          {{#incompleteItems}}
            <form class="incomplete-items" action="/completedItems/{{item}}" method="post">
              <ul>
                <li><button type="submit" class="check"><i class="fa fa-square-o" aria-hidden="true"></i>{{item}}</button></li>
              </ul>
            </form>
          {{/incompleteItems}}

          <h2>Completed Items:</h2>
          {{#completedItems}}
            <ul class="completed-items">
              <li><i class="fa fa-check" aria-hidden="true"></i>{{item}}</li>
            </ul>
          {{/completedItems}}
        {{/toDoList}}
      </div>
    </div>
  </body>
</html>
