@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.to-do-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  height: 60%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.check {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.check:focus {
  outline: 0;
}

.check:hover {
  cursor: pointer;
}

.submit-btn {
  background-color: #0e93b0;
  border: none;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
}

.submit-btn:focus {
  outline: 0;
}

.submit-btn:hover {
  color: #fff;
  background-color: #0b8099;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}

.add-item {
  padding-bottom: 20px;
}

input {
  padding: 8px;
  border: 2px solid rgb(14, 147, 176);
  font-size: 1em;
  margin-right: 10px;
}

input:focus {
  outline: 0;
}

.fa {
  padding-right: 10px;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* Tablet Styles */

@media (min-width: 600px) {
  .to-do-box {
    width: 80%;
    padding: 50px;
  }
}

/* Desktop Styles */

@media (min-width: 1000px) {
  .to-do-box {
    width: 50%;
  }
}
